
.error {
	width: 250px;
	font-size: 32px;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 20% 15px;
	text-align: center;
	border: 2px dashed blue;
	border-radius: 5px;
	color: green;
	text-decoration: line-through;
}